/* DonutChart.css */

.donutChartWrapper1,
.donutChartWrapper2,
.donutChartWrapper3,
.donutChartWrapper4 {

  position: absolute;
}

.donutChartWrapper1 {
  left: 0px; 
}

.donutChartWrapper2 {
  left: 400px; 
}

.donutChartWrapper3 {
  left: 800px; 
}

.donutChartWrapper4 {
  left: 1200px; 
}

.custom-tooltip {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000; /* Make sure this is higher than the z-index of TopPref and other elements */
  }

  .donutChartsContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -100px;
    left: -50px;
    width: 100%;
  }
  
