.Pivot .scrollable-container {
  max-height: 550px;
  overflow-y: auto;
  border: 1px solid #ddd;
  width: 65%;  /* Reduced from 60% to 50% */
}

.Pivot table {
  width: 100%;  /* Reduced from 80% to 70% */
  border-collapse: collapse;
}

.Pivot th, .Pivot td {
  padding: 0px 10px;  /* Reduced padding from 15px to 10px */
  text-align: center;
  border-bottom: 1px solid #000;
  font-size: 14px;  /* Reduced font size */
}

.Pivot th {
  position: sticky;
  top: 0;
  z-index: 10;
}
