.Pivot .scrollable-container {
  max-height: 410px;
  overflow-y: auto;
  border: 1px solid #ddd;
  width: 90%;  
}

/* Add these lines to style the scrollbar */
.Pivot .scrollable-container::-webkit-scrollbar {
  width: 12px;  /* Width of the scrollbar */
}

.Pivot .scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1;  /* Background color of the track */
  border-radius: 10px;  /* Rounded corners for track */
}

.Pivot .scrollable-container::-webkit-scrollbar-thumb {
  background: #888;  /* Color of the scroll thumb */
  border-radius: 10px;  /* Rounded corners for scroll thumb */
}

/* On hover, make scrollbar thumb a bit darker */
.Pivot .scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Existing CSS */
.Pivot table {
  width: 100%;  
  border-collapse: collapse;
}

.Pivot th, .Pivot td {
  padding: 0px 10px; 
  text-align: left;
  border-bottom: 1px solid #000;
  font-size: 16px;  
}

.Pivot th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #9e9b9b;
}

.truncate-text {
  max-width: 80px; /* You can set this to whatever maximum width you want */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}