.Pivot .scrollable-container {
    max-height: 500px;
    width: 85%;
    overflow-y: auto;
    border: 1px solid #ddd;
  }
  
  .Pivot table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .Pivot th, .Pivot td {
    padding: 0px 15px;
    text-align: center;
    border-bottom: 1px solid #000;
  }
  
  .Pivot th {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  