.PC {
    background-color: #a7a7a7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .PC .overlap-wrapper {
    background-color: #a7a7a7;
    border: 1px none;
    height: 1080px;
    width: 1920px;
  }
  
  .PC .overlap {
    height: 1069px;
    position: relative;
    width: 1908px;
  }
  
  .PC .rectangle {
    background-color: #ffffff;
    border-radius: 15px;
    height: 1052px;
    left: 275px;
    position: absolute;
    top: 17px;
    width: 1633px;
  }
  
  .PC .stats-frame {
    background-color: #d9d9d9;
    border-radius: 2px;
    height: 418px;
    left: 289px;
    position: absolute;
    top: 638px;
    width: 1381px;
  }
  
  .PC .RANK {
    align-items: center;
    background-color: #9e9b9b;
    border-radius: 2px 0px 0px 0px;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 82px;
  }
  
  .PC .text-wrapper-13 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.5px;
    position: relative;
    width: fit-content;
  }
  
  .PC .polygon {
    height: 7.05px;
    position: relative;
    width: 8.14px;
  }
  
  .PC .TOTAL-VALUE {
    align-items: center;
    background-color: #9e9b9b;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 82px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 167px;
  }
  
  .PC .PART-NUMBER {
    align-items: center;
    background-color: #9e9b9b;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 249px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 174px;
  }
  
  .PC .DESCRIPTION {
    align-items: center;
    background-color: #9e9b9b;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 423px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 248px;
  }
  
  .PC .RANK-2 {
    align-items: center;
    background-color: #9e9b9b;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 671px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 80px;
  }
  
  .PC .text-wrapper-14 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-left: -7px;
    margin-top: -0.5px;
    position: relative;
    width: fit-content;
  }
  
  .PC .img {
    height: 7.05px;
    margin-right: -6.57px;
    position: relative;
    width: 8.14px;
  }
  
  .PC .CUM-VALUE {
    align-items: center;
    background-color: #9e9b9b;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 751px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 148px;
  }
  
  .PC .CUM {
    align-items: center;
    background-color: #9e9b9b;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 899px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 96px;
  }
  
  .PC .ABC {
    align-items: center;
    background-color: #9e9b9b;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 995px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 68px;
  }
  
  .PC .text-wrapper-15 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-left: -1px;
    margin-top: -0.5px;
    position: relative;
    width: fit-content;
  }
  
  .PC .polygon-2 {
    height: 7.05px;
    margin-right: -0.57px;
    position: relative;
    width: 8.14px;
  }
  
  .PC .c-QTY {
    align-items: center;
    background-color: #9e9b9b;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 1063px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 88px;
  }
  
  .PC .c-ABC {
    align-items: center;
    background-color: #9e9b9b;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 1151px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 88px;
  }
  
  .PC .FINAL-CAT {
    align-items: center;
    background-color: #9e9b9b;
    border-radius: 0px 2px 2px 0px;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 1239px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 133px;
  }
  
  .PC .scrollbar-wrapper {
    background-color: #9e9b9b;
    border-radius: 15px;
    height: 415px;
    left: 1373px;
    position: absolute;
    top: 2px;
    width: 6px;
  }
  
  .PC .scrollbar {
    background-color: #000000;
    border-radius: 15px;
    height: 77px;
  }
  
  .PC .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 47px;
    width: 1373px;
  }
  
  .PC .line-2 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 67px;
    width: 1373px;
  }
  
  .PC .line-3 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 87px;
    width: 1373px;
  }
  
  .PC .line-4 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 107px;
    width: 1373px;
  }
  
  .PC .line-5 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 127px;
    width: 1373px;
  }
  
  .PC .line-6 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 147px;
    width: 1373px;
  }
  
  .PC .line-7 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 167px;
    width: 1373px;
  }
  
  .PC .line-8 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 187px;
    width: 1373px;
  }
  
  .PC .line-9 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 207px;
    width: 1373px;
  }
  
  .PC .line-10 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 227px;
    width: 1373px;
  }
  
  .PC .line-11 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 247px;
    width: 1373px;
  }
  
  .PC .line-12 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 267px;
    width: 1373px;
  }
  
  .PC .line-13 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 287px;
    width: 1373px;
  }
  
  .PC .line-14 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 307px;
    width: 1373px;
  }
  
  .PC .line-15 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 327px;
    width: 1373px;
  }
  
  .PC .line-16 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 347px;
    width: 1373px;
  }
  
  .PC .line-17 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 367px;
    width: 1373px;
  }
  
  .PC .line-18 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 387px;
    width: 1373px;
  }
  
  .PC .line-19 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 407px;
    width: 1373px;
  }
  
  .PC .outer-frame {
    background-color: #d9d9d9;
    border: 0px none;
    border-radius: 2px 2px 0px 0px;
    height: 104px;
    left: 289px;
    position: absolute;
    top: 494px;
    width: 1381px;
  }
  
  .PC .summary-frame {
    background-color: #d9d9d9;
    border: 0px none;
    border-radius: 2px 2px 0px 0px;
    height: 104px;
    position: relative;
  }
  
  .PC .CODE {
    align-items: center;
    background-color: #9e9b9b;
    border: 0px none;
    border-radius: 2px 0px 0px 0px;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 198px;
  }
  
  .PC .text-wrapper-16 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .PC .frame {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
  }
  
  .PC .polygon-3 {
    height: 7.05px;
    margin-bottom: -0.2px;
    position: relative;
    width: 8.14px;
  }
  
  .PC .RANGE {
    align-items: center;
    background-color: #9e9b9b;
    border: 0px none;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 198px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 215px;
  }
  
  .PC .ABC-ITEMS {
    align-items: center;
    background-color: #9e9b9b;
    border: 0px none;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 413px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 268px;
  }
  
  .PC .ITEMS {
    align-items: center;
    background-color: #9e9b9b;
    border: 0px none;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 681px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 153px;
  }
  
  .PC .TOTAL-AMOUNT {
    align-items: center;
    background-color: #9e9b9b;
    border: 0px none;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 834px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 274px;
  }
  
  .PC .SALES {
    align-items: center;
    background-color: #9e9b9b;
    border: 0px none;
    border-radius: 0px 2px 2px 0px;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 1108px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 264px;
  }
  
  .PC .overlap-group-2 {
    height: 102px;
    left: 1373px;
    position: absolute;
    top: 1px;
    width: 6px;
  }
  
  .PC .scrollbar-length {
    background-color: #9e9b9b;
    border-radius: 15px;
    height: 100px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 6px;
  }
  
  .PC .scrollbar-2 {
    background-color: #000000;
    border-radius: 15px;
    height: 79px;
    left: 0;
    position: absolute;
    top: 0;
    width: 6px;
  }
  
  .PC .TOTAL {
    align-items: center;
    background-color: #9e9b9b;
    border: 0px none;
    border-radius: 0px 0px 0px 1px;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    top: 104px;
    width: 198px;
  }
  
  .PC .div-wrapper {
    align-items: center;
    background-color: #9e9b9b;
    border: 0px none;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 198px;
    padding: 5px 10px;
    position: absolute;
    top: 104px;
    width: 215px;
  }
  
  .PC .TOTAL-2 {
    align-items: center;
    background-color: #9e9b9b;
    border: 0px none;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 413px;
    padding: 5px 10px;
    position: absolute;
    top: 104px;
    width: 268px;
  }
  
  .PC .TOTAL-3 {
    align-items: center;
    background-color: #9e9b9b;
    border: 0px none;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 681px;
    padding: 5px 10px;
    position: absolute;
    top: 104px;
    width: 153px;
  }
  
  .PC .TOTAL-4 {
    align-items: center;
    background-color: #9e9b9b;
    border: 0px none;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 834px;
    padding: 5px 10px;
    position: absolute;
    top: 104px;
    width: 274px;
  }
  
  .PC .TOTAL-5 {
    align-items: center;
    background-color: #9e9b9b;
    border: 0px none;
    border-radius: 0px 0px 1px 0px;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    left: 1108px;
    padding: 5px 10px;
    position: absolute;
    top: 104px;
    width: 273px;
  }
  
  .PC .line-20 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 44px;
    width: 1373px;
  }
  
  .PC .line-21 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 64px;
    width: 1373px;
  }
  
  .PC .line-22 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 84px;
    width: 1373px;
  }
  
  .PC .left-side-menu-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .PC .account-selection-2 {
    background-color: #d9d9d9;
    border-radius: 2px;
    height: 821px;
    left: 1675px;
    position: absolute;
    top: 235px;
    width: 224px;
  }
  
  .PC .text-wrapper-17 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
  }
  
  .PC .TOTAL-AMOUNT-2 {
    background-color: #9e9b9b;
    border-radius: 2px;
    height: 14px;
    left: 135px;
    position: absolute;
    top: 10px;
    width: 82px;
  }
  
  .PC .text-wrapper-18 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 8px;
    font-weight: 700;
    left: 6px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1px;
  }
  
  .PC .polygon-4 {
    height: 7px;
    left: 71px;
    position: absolute;
    top: 4px;
    width: 8px;
  }
  
  .PC .ITEMS-2 {
    height: 172px;
    left: 1003px;
    position: absolute;
    top: 51px;
    width: 212px;
  }
  
  .PC .group {
    height: 159px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 159px;
  }
  
  .PC .frame-2 {
    align-items: flex-end;
    display: inline-flex;
    gap: 10px;
    left: 178px;
    position: absolute;
    top: 81px;
  }
  
  .PC .rectangle-2 {
    background-color: #020202;
    height: 10px;
    position: relative;
    width: 10px;
  }
  
  .PC .text-wrapper-19 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .PC .frame-3 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    left: 178px;
    position: absolute;
    top: 100px;
  }
  
  .PC .rectangle-3 {
    background-color: #8461ef;
    height: 10px;
    position: relative;
    width: 10px;
  }
  
  .PC .frame-4 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    left: 178px;
    position: absolute;
    top: 119px;
  }
  
  .PC .rectangle-4 {
    background-color: #3a43e0;
    height: 10px;
    position: relative;
    width: 10px;
  }
  
  .PC .overlap-2 {
    height: 70px;
    left: 252px;
    position: absolute;
    top: 71px;
    width: 42px;
  }
  
  .PC .element {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
  }
  
  .PC .element-2 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 19px;
  }
  
  .PC .element-3 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 38px;
  }
  
  .PC .ITEMS-3 {
    height: 172px;
    left: 1301px;
    position: absolute;
    top: 51px;
    width: 212px;
  }
  
  .PC .SALES-2 {
    height: 172px;
    left: 695px;
    position: absolute;
    top: 56px;
    width: 211px;
  }
  
  .PC .overlap-3 {
    height: 70px;
    left: 252px;
    position: absolute;
    top: 71px;
    width: 43px;
  }
  
  .PC .line-23 {
    height: 141px;
    left: 993px;
    position: absolute;
    top: 69px;
    width: 2px;
  }
  
  .PC .line-24 {
    height: 141px;
    left: 1297px;
    position: absolute;
    top: 68px;
    width: 2px;
  }
  
  .PC .TOTAL-ABC-ITEMS {
    height: 40px;
    left: 296px;
    position: absolute;
    top: 117px;
    width: 171px;
  }
  
  .PC .overlap-4 {
    height: 57px;
    position: relative;
    top: -10px;
    width: 181px;
  }
  
  .PC .ellipse {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 40px;
  }
  
  .PC .frame-5 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 38px;
    padding: 10px;
    position: absolute;
    top: 0;
  }
  
  .PC .text-wrapper-20 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .PC .frame-6 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 75px;
    padding: 10px;
    position: absolute;
    top: 20px;
  }
  
  .PC .text-wrapper-21 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .PC .overlap-group-wrapper {
    height: 40px;
    left: 507px;
    position: absolute;
    top: 117px;
    width: 159px;
  }
  
  .PC .overlap-5 {
    height: 55px;
    position: relative;
    top: -8px;
    width: 169px;
  }
  
  .PC .ellipse-2 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 40px;
  }
  
  .PC .frame-7 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 44px;
    padding: 10px;
    position: absolute;
    top: 18px;
  }
  
  .PC .line-25 {
    height: 54px;
    left: 487px;
    object-fit: cover;
    position: absolute;
    top: 110px;
    width: 1px;
  }
  
  .PC .line-26 {
    height: 1px;
    left: 289px;
    object-fit: cover;
    position: absolute;
    top: 163px;
    width: 394px;
  }
  
  .PC .line-27 {
    height: 1px;
    left: 289px;
    object-fit: cover;
    position: absolute;
    top: 109px;
    width: 394px;
  }
  
  .PC .bar-graph {
    background-color: #d9d9d9;
    border-radius: 0px 2px 2px 2px;
    height: 249px;
    left: 290px;
    position: absolute;
    top: 235px;
    width: 1380px;
  }
  
  .PC .overlap-6 {
    height: 234px;
    left: 4px;
    position: relative;
    top: 7px;
    width: 1372px;
  }
  
  .PC .frame-8 {
    height: 18px;
    left: 26px;
    position: absolute;
    top: 216px;
    width: 1306px;
  }
  
  .PC .group-2 {
    height: 216px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1372px;
  }
  
  .PC .TOTAL-AMOUNT-3 {
    background-color: #9e9b9b;
    border-radius: 2px 2px 0px 0px;
    height: 22px;
    left: 290px;
    position: absolute;
    top: 213px;
    width: 210px;
  }
  
  .PC .text-wrapper-22 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 6px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 3px;
  }
  
  .PC .polygon-5 {
    height: 7px;
    left: 196px;
    position: absolute;
    top: 9px;
    width: 8px;
  }
  