.left-side-menu {
    height: 1024px;
    width: 289px;
  }
  
  .left-side-menu .overlap-group {
    height: 1080px;
    left: 9px;
    position: relative;
    width: 290px;
  }
  
  .left-side-menu .account-selection {
    background-color: #d9d9d9;
    border-radius: 2px;
    height: 1053px;
    left: 0;
    position: absolute;
    top: 16px;
    width: 237px;
  }
  
  .left-side-menu .div {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    height: 49px;
    left: 9px;
    padding: 11px 9px;
    position: absolute;
    top: 35px;
    width: 220px;
  }
  
  .left-side-menu .text-wrapper {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 74px;
  }
  
  .left-side-menu .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    height: 15px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -2px;
    margin-right: -8.98px;
    position: relative;
    width: 210.98px;
  }
  
  .left-side-menu .monthly-reports {
    height: 213px;
    left: 9px;
    position: absolute;
    top: 311px;
    width: 281px;
  }
  
  .left-side-menu .INSIDE-LUBES {
    height: 103px;
    left: 34px;
    position: absolute;
    top: 44px;
    width: 247px;
  }
  
  .left-side-menu .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 88px;
    width: 237px;
  }
  
  .left-side-menu .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 66px;
    width: 237px;
  }
  
  .left-side-menu .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 44px;
    width: 237px;
  }
  
  .left-side-menu .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    width: 237px;
  }
  
  .left-side-menu .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 237px;
  }
  
  .left-side-menu .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 198px;
    width: 237px;
  }
  
  .left-side-menu .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 176px;
    width: 237px;
  }
  
  .left-side-menu .text-wrapper-10 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 154px;
    width: 237px;
  }
  
  .left-side-menu .text-wrapper-11 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    width: 237px;
  }
  
  .left-side-menu .text-wrapper-12 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 237px;
  }
  
  .left-side-menu .monitoring {
    height: 213px;
    left: 9px;
    position: absolute;
    top: 91px;
    width: 281px;
  }
  
  .left-side-menu .BORDER {
    height: 1080px;
    left: 246px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1px;
  }
  