/* Common Variables */
:root {
  --main-bg-color: #d9d9d9;
  --main-button-color: #4CAF50;
  --main-font-size: 16px;
  --main-margin: 5px;
}

/* in index.css or App.css */
body {
  font-family: 'Helvetica', Arial, sans-serif;
}

/* Background Square */
.BgSquare {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  height: 100vh;
}

/* Left Content Section */
.leftContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  max-height: calc(100vh - 50px);
  margin: var(--main-margin);
}

.summary-wrapper {
  display: flex;
  flex-direction: column;
}

/* Upload Section */
.upload-section {
  display: flex;
  justify-content: right;
  margin: 10px 0;
}

.upload-button {
  position: absolute;
  top: 820px;
  left: 50px;
  background-color: var(--main-button-color);
  color: white;
  padding: 0px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--main-font-size);
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #45a049;
}

/* Pivot Wrapper */
.pivot-wrapper {
  display: flex;
  flex-direction: column;
}

/* Pivot Dropdown */
.pivot-dropdown {
  width: 20%;
  padding: 3px;
  font-size: var(--main-font-size);
  background-color: var(--main-bg-color);
  justify-content: flex-start;
  align-self: flex-start;
  border-radius: 5px;
  z-index: 200000;

}

/* Left Rectangle */
.Sidebar {
  width: 14%;
  height: 97%;
  background-color: #d9d9d9;
  border-radius: 5px;
  position: absolute;
  left: 5px;
  top: 15px;
}



