.BgSquare {
  display: flex;
  flex-direction: column;  /* Stack children vertically */
  justify-content: flex-end;  /* Align children to the bottom */
  align-items: stretch;  /* Stretch children to fill the width */
  height: 100vh;  /* Take up full viewport height */
  
}

.leftContent {
  display: flex;
  flex-direction: column;  /* Stack children vertically */
  flex-wrap: nowrap;  /* Don't wrap children */
  overflow-y: auto;  /* Allow scrolling */
  max-height: calc(100vh - 50px);  /* Maximum height */
}

.summary-wrapper, .pivot-wrapper, .toppref {
  margin: 5px;
}

.toppref {
  background-color: #d9d9d9;
  border-radius: 15px;
  flex-grow: 1;
  margin: 20px auto;
}
